.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.navbar-default .navbar-nav>li>a{
  color:white;
}

.navbar>.container .navbar-brand{
  color: white;
}

div .shadow{
  box-shadow: 0 0 2px black;
  padding:0px;
  opacity: .9
}

div .shadowNoHover{
  box-shadow: 0 0 2px black;  
}


.rounded-top{
  border-radius: 4px 4px 0 0;
}

.panel-body:hover{
  box-shadow: 0 0 5px black;
  opacity: 1;
}

.img-hover{
  opacity: .9;

}

.img-hover:hover{
  opacity: 1;

}

.custom-pad { 
  margin-left:-10px;
  margin-right:-10px;
  margin-top:10px;
  margin-bottom:10px;  
  padding:-10px; 
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url('../images/Header.jpeg');
    background-position: 0% 25%;
    background-size: cover;
    opacity: .8;

}

.horizontal-padding{
  padding-left: -30px;
  padding-right: -30px;
}


