.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.navbar-default .navbar-nav>li>a{
  color:white;
}

.navbar-default .navbar-nav>li>a:hover{
  color:orange;
}

.navbar>.navbar-header>.navbar-brand{
  color: white;
}

div .shadow{
  box-shadow: 0px 2px 2px black;
  padding:20px;
 

}
/*
div .card:hover{
   box-shadow: 0px 4px 4px black;
}*/

div .shadowNoHover{
  box-shadow: 0 0 2px black;  
}


.sharp-corner{
  border-radius: 0 0 0 0;
}

.rounded-top{
  border-radius: 4px 4px 0 0;
}

.rounded-bottom{
  border-radius: 0 0 4px 4px;
}


.panel-body:hover{
 
  opacity: 1;
}

hr{
  margin-bottom: 5px;
  margin-top: 5px;
}

.img-hover{
  opacity: .9;

}

.img-hover:hover{
  opacity: 1;

}

.custom-pad { 
  margin-left:-10px;
  margin-right:-10px;
  margin-top:10px;
  margin-bottom:10px;  
  padding:-10px; 
}

.jumbotron {
    margin-bottom: 0px;
   
    background-size: cover;
    

}

.horizontal-padding{
  padding-left: -30px;
  padding-right: -30px;
}

.carousel-height{
  height:30vh;
  display:block;
    margin:auto;

}

.full-height{
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}

.no-padding{
  padding:0px;
}

.no-margin{
  margin: 0px;
}

.carousel-inner>.item>img{
  margin:0px;
  padding: 0px;
}

.carousel-inner>.item{
  padding: 0px;
}
.carousel-inner .active.left { left: -33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev        { left: -33%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

.coming-event{
margin:20px 20px 10px 20px;

}

.jumbotron-background{

}



a:focus,button:focus,a:hover,a:focus {
    outline: none !important;
    color:grey !important;
}

a, a:hover, a:focus {
  text-decoration: none !important;
  outline: none !important;
 

  
}

a{
  color:black;
}

.artist-profile-box{
/*background:#e7e7e7; padding:20px; margin:5px;*/
}

h1,h2,h3,h4{
  display:inline;

}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;

}

img{
  /*width:100%;*/
}



.icon-gallery{
    background-image: url("../images/icons/Gallery.svg");
    background-position: center center;
}

tbody tr td, th{
text-align: center;
}

.jumbotron{
  font-family: 'Raleway', sans-serif;
}

.jumbotron a{
  color:white;
}

.white-border{
  border-style: solid;
  border-width: 5px; 
  border-color:white;
}

a { 
  cursor: pointer; 
  cursor: hand; 
}

.carousel-indicators{
  display:none;
}

.scrollable{
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/*body{
  background-color: #2E2E2E;
}
*/
/*.col-md{
  padding:0px;
  margin:0px;
}*/

/** {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
*/


