<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Width Pics - Start Bootstrap Template</title>



    <!-- Custom CSS -->
    <link href="styles/full-width-pics.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Full Width Image Header with Logo -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->
<div class="jumbotron" style="height: 50vh; margin-bottom:0px; color:white;  background-image: url('images/main-bg.jpg'); background-size:cover;">
    <img class="img-responsive img-center" style="height: 200px; widht: 200px;" src="images/black_L.jpg" alt="">
</div>
    <!-- Content Section -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="section-heading">About LENSOD</h1>
                    <p class="lead section-lead">Our Mission</p>
                    <p class="section-paragraph">Nowadays, live music and performance are the heart and soul of music industry.
There are various pain points in the music industry of Thailand that we are trying to ease:<br><br>
 -Event planners and artists often waste extra budget for booking agencies, resulting in unnecessary extra costs. <br><br>

 -The process of finding and booking artists is unreachable, hard, ineffective, and come with unfair price.<br><br>

 -There is no platform that combines all trending artists’ profiles, calendars, and upcoming events for people to check them out in one stop.<br><br>

Our mission is to disrupt booking agencies by eliminating unfair prices in the market, make artist booking reachable, and assist our artists in finding them more stages to perform.
</p>
                </div>
            </div>
        </div>
     

    <!-- Fixed Height Image Aside -->
    <!-- Image backgrounds are set within the full-width-pics.css file. -->



</body>

</html>
