<div style="height: 40%;">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->


    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active col-md-12">
        <a ng-href="#/profile/15" ><img src="images/Zweedz.jpg" class="col-md-4 no-padding"/></a>
        <a ng-href="#/profile/17"><img src="images/Chote.jpg" class="col-md-4 no-padding"/></a>
       <a ng-href="#/profile/12"> <img src="images/Public.jpg" class="col-md-4 no-padding"/></a>
      </div>

      <div class="item col-md-12">
       <a ng-href="#/party"> <img src="images/Party.jpg" class="col-md-4 no-padding"/></a>
        <a ng-href="#/wedding"><img src="images/Wedding.jpg" class="col-md-4 no-padding"/></a>
        <a ng-href="#/festival"><img src="images/Festival.jpg" class="col-md-4 no-padding"/>  </a>  
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>