<div class="col-md-12 panel panel-body" style="margin-top: 30vh;"> 
	<div class="inner">
<!-- 	<div class=" col-md-12">
		<a type="button" ng-click="loginArtist();" target="_blank" style="width:100%" class="btn btn-primary">Artist</a>
	</div> -->

	<center><h4 style="color:#000000;">Event Planner</h4></center>
	<div class=" col-md-12">
		<a type="button" ng-click="loginPlanner(); cancel();" target="_blank" style="width:100%; margin-top:10px;" class="btn btn-primary" > <span class="icon-facebook"></span>&nbsp&nbspLogin with Facebook</a>
	</div>
</div>
</div>

<!-- <div class="col-md-12 panel panel-body" style="margin-top: 30vh;"> 
	<div class="inner">
	<div class=" col-md-12">
		<label>Email</label>
		<input type="email" placeholder ="Enter Your Email" class="form-control">
		
	</div>

	<div class=" col-md-12">
		<label>Password</label>
		<input type="password" placeholder ="Enter Your Password" class="form-control">
		<br>
	</div>
	<div class=" col-md-12">
		
		<input type="button"  class="btn btn-primary form-control" value="Login">
	</div>
</div>
</div> -->