
<div class="modal-header">
	<a ng-href="#/profile" style="text-decoration:none;"><h3 class="modal-title">Profile</h3></a>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-4">
			<img class=""src="images/{{items}}" style="width:100%;">
		</div>
		<div class="col-md-8">
			<h3 style="display:inline;">GigBridge</h3>
			<p>We are a new startup team called GigBridge</p>
			<input type="button" class="btn btn-success" value="BOOK THIS ARTIST"/>
		</div>
	</div>
	<tabset justified="true" style="margin-top:20px;">
		<tab heading="Video">
			<div class="row">
				<div class="col-md-10" style="padding-right:0px;">
					<youtube-video video-id="selected" player-width="'100%'"></youtube-video>
				</youtube-video>
			</div>

			<div class="col-md-2">
				<div class="col-md-12" style="margin:0px; padding:0px; margin-bottom:2px;" ng-repeat="video in videos" >
					<a ng-click = "setSelected(video); $event.preventDefault();" ng-href="#">
						<img src="http://img.youtube.com/vi/{{video}}/default.jpg" style="width:100%;">
					</a>
				</div>
				
			</div>
		</div>
	</tab>
	<tab heading="Sound Cloud">
	
			<iframe width="100%" height="461" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3615283&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

		
	</tab>

	<tab heading="Time Table" select="renderCalendar('someCalendarId');">
		<div  id="someCalendarId" ui-calendar="calendar" ng-model="eventSources" style="margin-top:20px;"></div>
	</tab>

</tabset>


</div>

<div class="modal-footer">
	<button class="btn btn-danger" ng-click="cancel()">Close</button>
</div>
