<div class="col-md-6 col-md-offset-3 panel panel-default" style="padding:20px; margin-top:50px; margin-bottom:30px;">
<div class="form-group col-md-6">
    <label for="fName">First Name:</label>
    <input  type="text" ng-model="user.fName" class="form-control" id="fName" ng-required="true">
  </div>
  <div class="form-group col-md-6">
    <label for="lName">Last Name:</label>
    <input type="text" ng-model="user.lName"class="form-control" id="lName" ng-required="true">
  </div>

  <div class="form-group col-md-12">
    <label for="email">Email:</label>
    <input type="email" ng-model="user.email"class="form-control" id="email" ng-required="true">
  </div>

  <div class="form-group col-md-6">
    <label for="pNumber">Phone Number:</label>
    <input type="text" ng-model="user.pNumber" class="form-control" id="pNumber" ng-required="true">
  </div>

     <div class="form-group col-md-6">
    <label for="text">Line ID:</label>
    <input type="text" ng-model="user.line" class="form-control" id="text" ng-required="true">
  </div>

  <div class="col-md-4 col-md-offset-4">
  		<a type="button" ng-click="register()" class="btn btn-primary form-control"  target="_blank" >Sign Up</a>
     
  </div>
</div>

