


<div class="col-md-10 col-md-offset-1"  style="margin-top:50px;">

	<div class="col-md-12 panel round-corner" style="background:#F6F6F6 ;">

		<div class="col-md-4">
			<img src="images/{{band.band_profile_picture}}" style="width:100%; margin:30px;"/>
			
		</div>
		<div class="col-md-8" style="text-align:center; padding:20px; margin-top:4%;">

			<h1>{{band.band_name}}</h1>
			<br></br>
			<p>Location: {{band.band_location}}</p>
			<p>Genre: {{band.band_genres|genreFilter}}</p>
			<p>Price: {{band.band_price}} baht per hour</p>
			<p>
				<span ng-if="band.band_negotiate ==1"><span class="icon-Negotiable"></span> Negotiable &nbsp</span>
				<span ng-if="band.band_acoustic ==1"><span class="icon-Acoustic"></span> Can Play Acoustic &nbsp</span>
				<span ng-if="band.band_travel ==1"><span class="icon-travel"></span> Willing to Travel </span>
			</p>
			<p><input type="button" class="btn btn-success" ng-click="goBook()" value="BOOK REQUEST"></p>

		</div>

		
	</div>
	<div class="col-md-12 no-padding no-margin sharp-corner">
 
		<div class="col-md-6 panel round-corner" style="background:#F6F6F6; padding:20px;">
			<h4>About</h4>
			<hr>
			<div ng-bind-html="band.band_description"></div>
			<h4>Member</h4>
			<hr>
			<div ng-bind-html="band.band_member"></div>

		</div>

		<div class="col-md-6 panel round-corner" style="background:#F6F6F6 ; border-left:5px solid white;">
			<tabset justified="true">
				<tab>
				<tab-heading>
					<span class="bigger-icon icon-youtube" style="color:red;"></span>
				</tab-heading>
				<img ng-if="videos.length == 0"  style="width:100%;" src="images/no_youtube.jpeg"/>
				<div>
				<div ng-if="videos.length != 0"class="col-md-12" style="margin:0px; padding:0px;">
					<youtube-video ng-if="videos.length != 0" video-id="selected" player-width="'100%'" player-height="400"></youtube-video>
					
				</div>


				<div class="col-md-2 col-sm-3 col-xs-3" style="margin:0px; padding:1px;" ng-repeat="video in videos">
					<a ng-click = "setSelected(video.youtube_id); $event.preventDefault();" ng-href="#">
						<img src="http://img.youtube.com/vi/{{video.youtube_id}}/default.jpg" style="width:100%;">
					</a>
				</div> 
			</div>
			</tab>
			<tab heading="Sound Cloud">
				<tab-heading>
				<span class="bigger-icon icon-soundcloud" style="color:orange;"></span>
			</tab-heading>

			<img ng-if="sound.sound_embed == null" style="width:100%;" src="images/no_youtube.jpeg"/>
			<iframe ng-if="sound.sound_embed != null" width="100%" height="450" scrolling="no" frameborder="no" src="{{sound.sound_embed}}"></iframe>






			
		</tab>
	</tabset>

</div>

</div>


</div>





</div>




