

<div class="col-md-12">
	<div class="col-md-12 shadowNoHover test" style="margin-top:20px; background:white; padding:20px;">
		<div class="col-md-3 ">
			<img class=""src="images/1.jpeg" style="width:100%;">
		</div>

		<div class="col-md-7">
			<h3 style="display:inline;">GigBridge</h3>

			<h4>About GigBridge</h4>
			<p>
				While Caribou has been touring the globe throughout 2012 in support of Radiohead, Dan Snaith has fallen deeper into his love affair with the dance floor to bring us a full-length release as Daphni. The first Daphni album of shape-shifting works is titled
			</p>

		</div>
	</div>

	<div class="col-md-12" style="margin-top:40px; margin-bottom:40px;">
		<div class="col-md-6 shadowNoHover" style="background:white; padding:20px;">
			<div class="col-md-12" style="margin:0px; padding:0px;">
				<youtube-video video-id="selected" player-width="'100%'"></youtube-video>
			</youtube-video>
		</div>


		<div class="col-md-2" style="margin:0px; padding:0px; margin-right:2px;" ng-repeat="video in videos">
			<a ng-click = "setSelected(video); $event.preventDefault();" ng-href="#">
				<img src="http://img.youtube.com/vi/{{video}}/default.jpg" style="width:100%;">
			</a>
		</div>


	</div>
	<div class="col-md-6 shadowNoHover" style="background:white; padding:20px;">
		<iframe width="100%" height="461" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/3615283&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

	</div>


</div>
</div>










