<div class="col-md-12 panel panel-body" style="margin-top: 30vh;"> 
	<div class="inner">

	<center><h4 style="color:#000000;">Event Planner</h4></center>
	<div class=" col-md-12">
		<a type="button" ng-click="loginPlanner(); cancel();" target="_blank" style="width:100%; margin-top:10px;" class="btn btn-primary" > <span class="icon-facebook"></span>&nbsp&nbspSign up with Facebook</a>
	</div><br><br><br>
	<center><h4 style="color:#000000;">Artist (BETA)</h4></center>
	<div class=" col-md-12">
		<a type="button" ng-click="signUpArtist();" target="_blank" style="width:100%" class="btn btn-primary">&nbsp&nbspSign Up</a>
	</div>
</div>
</div>